# Compiled object files, executables and dependencies
*.o
*.exe
*.dll
*.so
*.dylib

# Compiled static libraries
*.a

# Log files
*.log

# MacOS specific files
.DS_Store

# Ignore .env file
.env

# Go binary
/main

# Build
/build
